ion-header{
    ion-icon{
        font-size: 30px;
    }
    ion-text{
        font-size: 30px;
    }
}

ion-footer{
    min-height: 40px;
    ion-button{
        height: 100%;
        width: 49%;
        padding: auto;
    }
}