ion-header{
    ion-toolbar{
        ion-text{
          font-size: 30px;
        }
        ion-icon{
          font-size: 30px;
        }
        ion-button{
          color: black;
        }
    }
  }

  ion-img{
    width: 150px;
    height: 150px;
    margin: auto;
  }


  ion-footer{
    min-height: 50px;
    ion-button{
      width: 100%;
      height: 100%;
    }
  }
